.modalButton {
    list-style: none;
    margin: 0;
    padding: 0;
    font: bold 10px 'Lato', sans-serif;
    /* use google custom font "Lato" */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
}

.modalButton a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 50px;
    /* height of links */
    padding: 0 10px;
    position: relative;
    overflow: hidden;
    color: black;
    outline: none;
    border: 1px solid rgba(0, 0, 0, .1);
    border-bottom: 8px solid rgba(0, 0, 0, .1);
    opacity: 1;
    text-transform: uppercase;
    font-size: 1.8em;
    /* 18 * 0.0555 = 1px */
    letter-spacing: 0.0555em;
    background: #ff7473;
    /* default background color */
    text-decoration: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    /* center text horizontally */
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    /* center text vertically */
    -webkit-transition: all .3s;
    transition: all .3s;


}

.modalButton a:after {
    content: '';
    position: absolute;
    width: 35%;
    height: 100%;
    background: white;
    opacity: .5;
    top: 0;
    left: -50%;
    -webkit-transform: skew(-20deg);
    transform: skew(-20deg);
    -webkit-transition: all .2s;
    transition: all .2s;
}

.modalButton a {
    background: #47b8e0;
}

.navmenu li a:hover {
    opacity: .7;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.modalButton a:hover:after {
    left: 150%;
    -webkit-transition: all .4s;
    transition: all .4s;
}

.modalButton a:active {
    box-shadow: 0 -30px 10px rgba(255, 255, 255, .2) inset;
    border-bottom-width: 0;
    box-shadow: none;
    border-top: 8px solid rgba(0, 0, 0, .1);
    -webkit-transition: none;
    transition: none;
}






.contact-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
}

.contact-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.contact-box .user-box {
    position: relative;
}

.contact-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.contact-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.contact-box .user-box input:focus~label,
.contact-box .user-box input:valid~label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}

.contact-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
}

.contact-box a:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
        0 0 25px #03e9f4,
        0 0 50px #03e9f4,
        0 0 100px #03e9f4;
}

.contact-box a span {
    position: absolute;
    display: block;
}

.contact-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
}



@keyframes btn-anim1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}

.contact-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }

    50%,
    100% {
        top: 100%;
    }
}

.contact-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }

    50%,
    100% {
        right: 100%;
    }
}

.contact-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }

    50%,
    100% {
        bottom: 100%;
    }
}






.modal.left .modal-dialog,
.modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    width: 320px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content,
.modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
}

.modal.left .modal-body,
.modal.right .modal-body {
    padding: 15px 15px 80px;
}

/*Left*/
.modal.left.fade .modal-dialog {
    left: -320px;
    -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
    -o-transition: opacity 0.3s linear, left 0.3s ease-out;
    transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.in .modal-dialog {
    left: 0;
}

@media (max-width: 799px) {

    .modal.left .modal-dialog {
        width: 100%;
    }

    .modal.left .modal-content {
        height: 100%;
        overflow-y: auto;
    }

    .modal.left .modal-body {
        padding: 15px 15px 80px;
    }

    /*Left*/
    .modal.left.fade .modal-dialog {
        left: -100%;
        -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
        -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
        -o-transition: opacity 0.3s linear, left 0.3s ease-out;
        transition: opacity 0.3s linear, left 0.3s ease-out;
    }

    .modal.left.fade.in .modal-dialog {
        left: 0;
    }
}

@media (max-width: 767px) {

    .nav-links {
        flex-direction: column;
    }

    /* Reset margin-right for list items to stack them vertically */
    .nav-links li {
        margin-right: 0;
        margin-bottom: 10px;
        /* Adjust the spacing between buttons */
    }

    .modal.right .modal-dialog {
        width: 100%;
    }

    .modal.right .modal-content {
        height: 100%;
        overflow-y: auto;
    }

    .modal.right .modal-body {
        padding: 15px 15px 80px;
    }

    /*Right*/
    .modal.right.fade .modal-dialog {
        right: -100%;
        -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
        -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
        -o-transition: opacity 0.3s linear, right 0.3s ease-out;
        transition: opacity 0.3s linear, right 0.3s ease-out;
    }

    .modal.right.fade.in .modal-dialog {
        right: 0;
    }
}